<!-- ===================================================== -->
<!-- TOOLBAR SUPERIOR                                      -->
<!-- ===================================================== -->
<div class="row">
  <div class="col-12">
    <mat-toolbar color="primary">

      <!-- ===================================================== -->
      <!-- TOOLBAR: Parte Izquierda - botón, logo y nombre App   -->
      <!-- ===================================================== -->
      <!-- Botón tipo hamburguesa para el Toggle() del menú -->
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="sidenav_menu_left.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Logotipo de Aplicación -->
      <!-- <img src="/assets/img/app_logo_light.png"
           class="logo ml-2"
           alt="Logotipo Aplicación">
 -->
      <!-- Titulo de Aplicación -->
      <!-- <span class="lead ml-3">{{ appTitle }}</span>  -->

      <span class="text-info font-weight-bold">APP</span>
      <span class="font-weight-bold text-uppercase">CEMI</span>


      <!-- Botones para Opciones de Menú opcionales -->
      <button mat-button
              class="ml-5"
              color="accent">OPCION A</button>
      <button mat-button
              class="ml-2"
              color="accent">OPCION B</button>
      <button mat-button
              class="ml-2"
              color="accent">OPCION C</button>

      <!-- Aplicación de clase flex para rellenar espacio y alinear a la derecha -->
      <span class="fill-remaining-space"></span>

      <!-- ===================================================== -->
      <!-- TOOLBAR: Parte Derecha - Menú y botones               -->
      <!-- ===================================================== -->
      <!-- Botón Acerca de... -->
      <span>
        <button mat-icon-button
                matTooltip="ACERCA DE..."
                (click)="openDialogInfo()">
          <mat-icon>error_outline</mat-icon>
        </button>
      </span>

      <!-- Botón Configuración -->
      <span>
        <button mat-icon-button
                matTooltip="CONFIGURACIÓN"
                (click)="sidenav_menu_right.toggle()">
          <mat-icon>settings</mat-icon>
        </button>
      </span>

      <!-- Menú Ayuda -->
      <mat-menu #appMenuHelp="matMenu"
                xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item>
            <mat-icon>menu_book</mat-icon>Manual de Usuario
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item
                  (click)="openDialogRemedyInfo()">
            <mat-icon>headset_mic</mat-icon>Comunicar una Incidencia
          </button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button
              matTooltip="CENTRO DE AYUDA"
              [matMenuTriggerFor]="appMenuHelp">
        <mat-icon>help_outline</mat-icon>
      </button>

      <!-- Menú Usuario -->
      <mat-menu #appMenuUser="matMenu"
                xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>Usuario DEMO
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>SALIR
          </button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button
              matTooltip="INFORMACIÓN DE USUARIO"
              [matMenuTriggerFor]="appMenuUser">
        <mat-icon>account_circle</mat-icon>
      </button>


    </mat-toolbar>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <mat-sidenav-container class="sidenav-container">
      <!-- ===================================================== -->
      <!-- SIDENAV: MENÚ IZQUIERDO                               -->
      <!-- ===================================================== -->
      <mat-sidenav #sidenav_menu_left
                   class="sidenav shadow"
                   fixedInViewport=false
                   [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                   [mode]="(isHandset$ | async) ? 'over' : 'side'"
                   [opened]="(isHandset$ | async) === false">


        <!-- ===================================================== -->
        <!-- SIDENAV: Izquierdo - Opciones de Menús                -->
        <!-- ===================================================== -->





        <mat-nav-list>


          <mat-list dense>
            <h3 matSubheader>COMPONENTES MATERIAL</h3>
            <a mat-list-item
               [routerLink]="['button']"
               routerLinkActive="active">
              <p matLine>BOTONES</p>
            </a>
            <a mat-list-item
               href="#">
              <p matLine>Enlace 2</p>
            </a>

            <a mat-list-item
               href="#">
              <p matLine>Enlace 3</p>
            </a>
          </mat-list>

          <mat-divider></mat-divider>

          <mat-list dense>
            <h3 matSubheader>AGRUPACIÓN DE MENÚ - 1</h3>
            <a mat-list-item
               [routerLink]="['button']"
               routerLinkActive="">
              <mat-icon matListIcon>looks_one</mat-icon>
              <p matLine>Opción de Menú A</p>
            </a>
            <a mat-list-item
               [routerLink]="['button']"
               routerLinkActive="">
              <mat-icon matListIcon>looks_two</mat-icon>
              <p matLine>Opción de Menú B</p>
            </a>
          </mat-list>

          <mat-divider></mat-divider>

          <mat-list dense>
            <h3 matSubheader>AGRUPACIÓN DE MENÚ - 2</h3>
            <a mat-list-item
               [routerLink]="['button']"
               routerLinkActive="">
              <mat-icon matListIcon>wysiwyg</mat-icon>
              <p matLine>Opción de Menú A</p>
            </a>
            <a mat-list-item
               [routerLink]="['button']"
               routerLinkActive="">
              <mat-icon matListIcon>people_alt</mat-icon>
              <p matLine>Opción de Menú B</p>
            </a>
            <mat-divider></mat-divider>
          </mat-list>


        </mat-nav-list>
      </mat-sidenav>


      <!-- ===================================================== -->
      <!-- SIDENAV: MENÚ DERECHO                                  -->
      <!-- ===================================================== -->
      <mat-sidenav #sidenav_menu_right
                   class="sidenav shadow"
                   fixedInViewport=false
                   position="end"
                   mode="side"
                   opened="false">
        <mat-list>
          <!-- Botón de Cierre -->
          <div class="text-right mb-2">
            <button mat-icon-button
                    aria-label="Cerrar menú derecho"
                    (click)="sidenav_menu_right.toggle()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>

          <!-- Ejemplo opciones de Configuración -->
          <mat-list-item class="mt-4">
            <h3>Grupo 1</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle ngModel
                              checked="true"
                              color="primary"
                              class="mat-caption"
                              name="config_B">Configuración A</mat-slide-toggle>

          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle ngModel
                              class="mat-caption"
                              name="config_A"
                              required>Configuración B</mat-slide-toggle>
          </mat-list-item>
        </mat-list>
      </mat-sidenav><!-- ./SIDENAV: MENÚ DERECHO -->



      <!-- ===================================================== -->
      <!-- CONTENIDO PRINCIPAL                                   -->
      <!-- ===================================================== -->
      <mat-sidenav-content>
        <div class="container-fluid animate__animated animate__fadeIn mt-3">
          <div class="row">
            <div class="col-12">
              <!-- Renderizamos el contenido para que se agregue desde el componente padre -->
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
