// Paletas de colores específicas para el theme CEMI
// Ver https://material.io/design/color/

$mat-cemi: (
  50: #cff3ff,
  100: #abdef8,
  200: #8cc3e1,
  300: #6aa8ca,
  400: #4e94b7,
  500: #2c81a6,
  600: #1a7294,
  700: #005e7d,
  800: #004b67,
  900: #00354f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-blue-cemi: (
  50: #e7e9f6,
  100: #c2c8e8,
  200: #9aa5d9,
  300: #7282c9,
  400: #5367be,
  500: #304db3,
  600: #2a45a9,
  700: #203b9d,
  800: #163192,
  900: #001f7d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-purple-cemi: (
  50: #ebe4f3,
  100: #cbbce1,
  200: #aa90ce,
  300: #8864bb,
  400: #7043ad,
  500: #57219f,
  600: #4e1d9a,
  700: #421492,
  800: #350e8a,
  900: #1f007d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-pink-cemi: (
  50: #f9e3f0,
  100: #f0b9d9,
  200: #ea8cc0,
  300: #e55da6,
  400: #e23591,
  500: #e2007b,
  600: #d00076,
  700: #b9006f,
  800: #a30069,
  900: #7d005e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-green-cemi: (
  50: #e0f3ee,
  100: #b3e1d5,
  200: #82ceba,
  300: #50b99f,
  400: #2baa8b,
  500: #069a79,
  600: #048d6d,
  700: #007d5e,
  800: #006d50,
  900: #005135,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);
